/*Mobile first css*/

img {
    max-width: 100%;
    max-height: 100%;
}

body, header, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

main, footer {
    margin-top: 6vmax;
    z-index: 0;
}


main {
    height: 100%;
}

body{
    height: 100vh;
    background-image: url("../img/home_bkg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: auto;
    font-size: 100%;
}

body > header {
    height: 6vmax;
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: white;
    z-index: 1;
}

body > header > a > img.login {
    box-sizing: border-box;
    padding: 10%;
}

body > header > button {
    width: 15%;
}

body > header > button > img {
    box-sizing: border-box;
    padding: 10%;
}

/*Common main and sidebar header properties */

header > * {
    vertical-align: top;
}

header > a {
    width: 15%;
    display: inline-block;
    height: 100%;
    text-align: center;
}

header > a:last-child {
    width: 70%;
}

header > a > img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

header > button {
    box-sizing: border-box;
    height: 100%;
    padding: 0px;
    background-color: transparent; 
    border-style:none;
}

/* Basic form */
form {
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
}

form input:not([type="submit"]):not([type="date"]):not([type="checkbox"]) {
    width: 100%;
    box-sizing: border-box;
}

form > input:last-child {
    width: 50%;
    margin-left: 25%;
}

#overlay {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0%;
    z-index: 2;
}

/* Sidebar */

aside {
    display: none;
    /* keep it until we add the overlay */
    border-right: ridge;
    border-right-color: black;
    /**/
    height: 100%;
    top: 0px;
    width: 50%;
    position: fixed;
    z-index: 3;
    background-color: #aec8ff;
}

aside > ul {
    margin-top: 10vmax;
    list-style: none;
    padding-left: 6%;
}

aside > header > button {
    width: 30%
}

aside > header > button > img  {
    box-sizing: border-box;
    padding: 10%;
}

aside > header {
    width: 50%;
    height: 6vmax;
    position: fixed;
    top: 0px;
    background-color: white;
}

@media screen and (min-width:450px) {

    aside > header > a:last-child {
        width: 84%;
    }

    aside > header > button {
        width: 16%
    }

    body > header > a:first-child {
        width: 8%;
    }

    body > header > a:last-child {
        width: 84%;
    }

    body > header > button {
        width: 8%;
    }
}

@media screen and (min-width:800px) {
    
    aside {
        width: 35%;
    }

    aside > header {
        width: 35%;
    }

    aside > header > a:last-child {
        width: 77%;
    }

    aside > header > button {
        width: 23%
    }

    body > header > a:first-child {
        width: 6%;
    }

    body > header > a:last-child {
        width: 88%;
    }

    body > header > button {
        width: 6%;
    }
}
