/*Mobile first css*/

.visuallyhidden { 
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; padding: 0; border: 0; 
}

h1, h2, h3, h4, h5, h6 {
    color: #046aef;
}

button > a {
    text-decoration: none;
}

.a-button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #2be579;
    border: thin solid #80e5aa;
    height: 2em;
    text-decoration: none;
}

.a-button:hover {
    background-color: #80e5aa;
    color: white;
}

.a-button.active {
    background-color: #80e5aa;
    color: white;
}

* {
    font-family: 'Lato', sans-serif;
    color: #551A8B;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
    border: none;
}  

#bg-image {
    filter: blur(3px);
}

button, input[type="button"], input[type="submit"], input[type="reset"] {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #2be579;
    border: thin solid #80e5aa;
    height: 2em;
}

button:hover:not(#openside_btn):not(#closeside_btn) {
    background-color: #80e5aa;
    color: white;
}

button.active:not(#openside_btn):not(#closeside_btn) {
    background-color: #80e5aa;
    color: white;
}

ul {
    list-style: none;
}

article p {
    margin-top: 1%;
}

html, body {
    height: 100%;
}

img {
    max-width: 100%;
    max-height: 100%;
}

body, header, p, h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

main, footer {
    z-index: 0;
}

footer {
    background-color: grey;
    flex-shrink: 0;
}

main {
    margin-top: 6vmax;
    flex: 1 0 auto;
}

#bg-image {
    background-image: url("../img/home_bkg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    position: fixed;
}

body {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    font-size: 100%;
}

body > header {
    height: 6vmax;
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: white;
    z-index: 1;
}

body > header > a > img.login {
    box-sizing: border-box;
    padding: 10%;
}

body > header > button > img {
    box-sizing: border-box;
    padding: 10%;
}

body > header > a:last-child {
    width: 84%;
}

body > header > button {
    width: 8%;
}

/*Common main and sidebar header properties */

header > * {
    vertical-align: top;
}

header > a {
    width: 8%;
    display: inline-block;
    height: 100%;
    text-align: center;
}

header > a:last-child {
    width: 70%;
}

header > a > img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

header > button {
    box-sizing: border-box;
    height: 100%;
    padding: 0px;
    background-color: transparent; 
    border-style:none;
}

.main-content {
    background-color: white;
    width: 85%;
    margin-left: 7.5%;
    margin-top: 5%;
    padding: 3% 5%;
    box-sizing: border-box;
}

/* Basic form */

form input:not([type="submit"]):not([type="date"]):not([type="time"]):not([type="checkbox"]) {
    width: 100%;
    box-sizing: border-box;
}


form label {
    margin: 1% auto;
}

form label,
form label select,
form label input:not([type=checkbox]):not([type=radio]) {
    display: block;
}

form > input:last-child {
    width: 50%;
    margin-left: 25%;
    margin-top: 2%;
}

#overlay {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0%;
    z-index: 2;
}

.list-container {
    padding: 1%;
    background-color: #edefef;
}

.list-container:not(:first-child) {
    border-top: thick solid white;
}

.list-item:not(:first-child) {
    border-top: thin solid black;
    background-color: #edefef;
    padding: 1%;
    margin-top: 2%;
}

/* Sidebar */

aside {
    display: none;
    border-right: ridge;
    border-right-color: black;
    height: 100%;
    top: 0px;
    width: 45%;
    position: fixed;
    z-index: 3;
    background-color: white;
}

aside > ul {
    margin-top: .3em;
    line-height: 1.7em;
}

aside > ul > li {
    font-size: 1.2em;
}

aside > ul > li > a {
    width: 100%;
    padding-left: 20%;
    display: block;
}

aside > p {
    font-size: 1.1em;
    margin-top: 8vmax;
    padding-left: 6%;
}

aside > header > button {
    width: 16%;
    padding: 2%;
}

aside > header {
    width: 45%;
    height: 6vmax;
    position: fixed;
    top: 0px;
    background-color: white;
}

aside > header > a:last-child {
    width: 84%;
}

aside > p {
    font-size: 1.3em;
}

@media screen and (min-width:650px) {

    aside {
        width: 35%;
    }

    aside > header {
        width: 35%;
    }

    aside > header > a:last-child {
        width: 84%;
    }

    aside > header > button {
        width: 16%;
        padding: 2%;
    }

    body > header > a:first-child {
        width: 8%;
    }

    body > header > a:last-child {
        width: 84%;
    }

    body > header > button {
        width: 8%;
    }

    aside > ul > li {
        font-size: 1.2em;
    }

    aside > p {
        font-size: 1.3em;
    }

    aside > ul {
        line-height: 2.2em;
    }

    .main-content {
        width: 70%;
        margin-left: 15%;
    }
}

@media screen and (min-width:820px) {
    
    aside {
        width: 20%;
    }

    aside > header {
        width: 20%;
    }

    aside > header > a:last-child {
        width: 67%;
    }

    aside > header > button {
        width: 33%;
        padding: 5%;
    }

    aside > ul > li {
        font-size: 1.3em;
    }

    aside > p {
        font-size: 1.4em;
    }

    aside > ul {
        line-height: 2.4em;
    }

    .main-content {
        width: 60%;
        margin-left: 20%;
    }
}
