textarea {
    width: 100%;
    height: 15em;
}

form > section > label {
    width: 100%;
    display: block;
}

form > section > label > input[type="checkbox"] {
    width: 10%;
}

div.ticket_creator:not(:last-child) > button.rm_ticket_btn,
div.ticket_creator:first-of-type > button.rm_ticket_btn,
div.moderator_adder:not(:last-child) > button.rm_ticket_btn,
div.moderator_adder:first-of-type > button.rm_ticket_btn {
    display: none;
}

div.ticket_creator:not(:last-child) > button.add_ticket_btn,
div.moderator_adder:not(:last-child) > button.add_ticket_btn {
    display:none;
}