textarea {
    width: 100%;
    height: 15em;
    box-sizing: border-box;
}

ul {
    margin-top: .3em;
    padding-left: 5%;
}

h3 {
    margin-bottom: 2.5%;
}

h4 {
    margin-bottom: 3%;
}

/* .ticket_creator:first-of-type #rm_ticket_btn {
    display: none;
} */

/* Mark input boxes that gets an error on validation: */
.invalid {
    background-color: #ffdddd;
}
  
/* Hide all steps by default: */
.tab{
    display: none;
}