textarea {
    width: 100%;
    height: 15em;
}

form > section > label {
    width: 100%;
    display: block;
}

form > section > label > input[type="checkbox"] {
    width: 10%;
}

form > section > div.ticket_creator:not(:last-child) > button:first-of-type,
form > section > div.ticket_creator:first-of-type > button:first-of-type,
form > section > div.moderator_adder:not(:last-child) > button:first-of-type,
form > section > div.moderator_adder:first-of-type > button:first-of-type {
    display: none;
}

form > section > div.ticket_creator:not(:last-child) > button:last-of-type,
form > section > div.moderator_adder:not(:last-child) > button:last-of-type {
    display:none;
}