div.tab {
    margin-top: 25%;
    width: 85%;
    margin-left: 7.5%;
    text-align: center;
    border-bottom: 3px solid black;
}

div.tab > button {
    width: 48%;
    margin: 0 1%;
    height: 3em;
    border: none;
    outline: none;
    background-color: cornflowerblue;
    cursor: pointer;
}

div.tab > button:hover {
    background-color: #3977e9;
    color: white;
}

div.tab > button.active {
    background-color: #3977e9;
    color: white;
    border-top: thin solid black;
    border-left: thin solid black;
    border-right: thin solid black;
}

section#top_events > a > article  {
    height: 30%;
    margin: 1%;
    border: thin solid black;
    width: 98%;
    box-sizing: border-box;
    padding: 2px;
}

section#top_events > article  h4 {
    text-align: center;
    margin: 0;
    padding: 5px;
}

section#top_events > article > span {
    width: 100%;
}

section#top_events > article > span.description_span {
    display: block;
    height: 3rem;
    overflow: hidden;
}

div#search_form {
    display: none;
}

div#search_form > form {
    margin-top: 0px;
    padding-top: 8%;
}

@media screen and (min-width:450px) {

    div.tab {
        margin-top: 18%;
        width: 70%;
        margin-left: 15%;
    }

    div#search_form > form {
        padding-top: 6%;
    }

}

@media screen and (min-width:820px) {

    div.tab {
        margin-top: 15%;
        width: 60%;
        margin-left: 20%;
    }

    div#search_form > form {
        padding-top: 5%;
    }

}