.headline_text {
    font-size: 0.7em;
    text-align: center;
    padding: 2vmin 5vmin;
}

.headline_text > h1 {
    line-height: 14vmax;
    color: white;
}

.composed_button_container {
    text-decoration: none;
    display: inline-block;
    margin: 1vmin 21.5% 3vmin;
    padding: 2%;
    width: 57%;
    box-sizing: border-box;
    vertical-align: top;
}

.composed_button_container img {
    display: block;
    width: 25%;
    margin-left: 37.5%;
    margin: 10% auto;
    box-sizing: border-box;
    border-radius: 50%;
}

.a-button {
    height: 100%;
    border-radius: 10%;
}

.composed_button_container > section {
    display: block;
    box-sizing: border-box;
    width: 80%;
    margin-left: 10%;
}

.composed_button_container > section > h2 {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.composed_button_container > section > p {
    font-size: 1.2em;
    height: 6em;
    margin-top: 10%;
}

@media screen and (min-width:450px) {
    .headline_text {
        font-size: 1.25em;
    }

    .composed_button_container > button > section > h2 {
        font-size: 1.7em;
    }

    .composed_button_container > button > section > p {
        font-size: 1.5em;
    }
}

@media screen and (min-width:812px) {
    
    .composed_button_container {
        margin-left: 5%;
        margin-right: 5%;
        width: 28.5%;
    }

    .composed_button_container:first-child {
        margin-left: 20%;
        margin-right: 3%;
        width: 28.5%;
    }

    .composed_button_container > button > section > p {
        font-size: 1.65em;
    }

    .headline_text {
        font-size: 1.45em;
    }

    .composed_button_container > button > section > h2 {
        font-size: 1.95em;
    }
}