.form-appendage {
    text-align: center;
    line-height: 2em;
    padding-top: 0px;
    margin: 2%;
}

.form-appendage a {
    width: 50%;
    padding: 2% 5%;
    margin: auto 25%;
    box-sizing: border-box;
    display: block;
    height: auto;
}

.form-appendage p {
    margin-bottom: 2%;
}

#btn_login {
    height: 3em;
}

@media screen and (min-width: 650px) {
    #btn_login {
        height: 4em;
    }
}

@media screen and (min-width:820px) {
    #btn_login {
        height: 5em;
    }
}