section {
    text-align: center;
}

form {
    margin-top: 20%;
}

form input {
    margin-bottom: 8%;
}

button, form > input:last-child {
    border-radius: 12px;
    background-color: blue;
    color: white;
    border-color: blueviolet;
    box-shadow: 2px 2px black; /*meh*/
}

button {
    width: 40%;
}