ul > li > * {
    display: block;
}

h1 {
    font-size: 1.2em;
}

h2 {
    font-size: 1em;
}

.list-item {
    margin-bottom: .5em;
    padding: 1%;
}

ul > li > p.cartRemover > span:hover {
    cursor: pointer;
    color: blue;
}

ul > li > p.cartRemover {
    text-align: right;
    width: 100%;
    text-decoration: underline;
}

.right-aligned {
    text-align: right;
}

button.cartEmptier {
    width: 40%;
    padding: 2%;
    height: 10%;
    vertical-align: text-top;
    box-sizing: border-box;
}

.pay {
    width: 25%;
    margin-left: 35%;
    box-sizing: border-box;
    float: right;
    height: 10%;
    text-align: center;
    font-weight: bold;
    padding: 5%;
}

.main-content > p {
    margin-bottom: 5%;
}

@media screen and (min-width: 650px) {
    .pay {
        padding: 2%;
    }
}